<!DOCTYPE html>
<html>

    <head>
        <title>The World - @ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <div id="sidebar">
            <img src="~/img/Schonnbrunn.jpg" alt="headshot" class="headshot" />
            <span id="username">Bobby Tables</span>
            <ul class="menu">
                <li class="active"><a asp-controller="App" asp-action="Home">Home</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            </ul>
        </div>


        <div id="wrapper">
            <div id="main">
                <div>
                    <button id="sidebarToggle">Toggle Menu</button>
                </div>

                <div>
                    @RenderBody()
                </div>

            </div>
            <footer id="footer">&copy; 2016 Colin D</footer>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js"></script>

        @RenderSection("Scripts", false)
    </body>
</html>
